#root {
  margin: 0 5%;
  text-align: center;
}

.full-width {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-qna-cntr {
  color: rgb(56, 111, 212);
  background-color: rgb(56, 111, 212);
  width: 91%;
  border: 1px solid;
  padding: 1px 4%;
  border-radius: 10px;
}

.react-qna-section {
  background-color: #f6f7f9;
  border: 1px solid;
  padding: 1px 4%;
  border-radius: 10px;
  margin: 2% 1%;
  box-shadow: 5px 5px 15px rgb(56, 111, 212);
}

.react-qna-sub-sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.react-qna-sub-sec>span {
  cursor: pointer;
}

.qna-answers {
  margin: 5px 1% 1.5%;
  color: #174db2;
}

.quiz-section {
  margin: 0 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(49%, 1fr));
  align-items: start;
  gap: 1rem;
}

.react-quiz-btn {
  margin: 5% 10%;
  background-color: #174db2;
  color: white;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}

.react-quiz-btn:hover {
  transform: rotate(1.1);
}

.quiz-cntr {
  display: flex;
  flex-direction: column;
  padding: 2% 5%;
  border-radius: 2%;
  justify-content: center;
  align-items: center;
}

.btn-cntr {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.btn-cntr>button,
.submit-btn {
  margin: 1%;
  color: white;
  cursor: pointer;
  background-color: rgb(151, 183, 243);
  outline: none;
  border: 1px solid #90b4f7;
  border-radius: 10px;
}

.btn-cntr>button {
  padding: 1%;
  font-weight: 600;
}

.submit-btn {
  padding: 10% 20%;
}

.btn-cntr>button:disabled {
  cursor: not-allowed;
  background-color: rgb(173, 173, 173);
  border: 1px solid #888;
}

.quiz-cntr .btn-cntr .right-selection {
  background-color: green;
}

.react-qna-sub-sec h3 {
  color: #174db2;
}

.category-list {
  display: inline-block;
  padding: 2px 15px;
  border: 1px solid;
  margin: 0px 1%;
  cursor: pointer;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  font-variant: small-caps;
}

.category-list:hover {
  transform: scale(1.1);
}

.highlight-category {
  background-color: green;
  color: white;
  font-weight: 600;
}

.category-container {
  margin: 10px 0px;
}

.back-btn {
  cursor: pointer;
}